input {
    position: relative;
    left: -65px;
}
label{
    position: relative;
    display: inline-block;
    width: 140px;
    text-align: right;
    left: -70px;
    padding: .50em;
}

button {
    position: relative;
    bottom: -10px;    
}

.dobexample{
    font-style: italic;
    margin-left: 360px;
    margin-top: -115px;

}